/* #F2F7FA */

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font: 13px/1.231 Arial, Helvetica, sans-serif;
  background: white;
  overflow-y: scroll;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
  border: 0;
  margin: 10px 0;
  color: #333333;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 19px;
}
h3 {
  margin: 5px 0;
  font-size: 17px;
}
h4 {
  margin: 5px 0;
  font-size: 14px;
}
h5 {
  margin: 5px 0;
  color: #111111;
  font-size: 13px;
}
ul {
  list-style: none;
  margin-bottom: 30px;
}
ul li {
  margin: 6px 0;
  overflow: hidden;
}
ul.code {
  font-weight: bold;
}
ul.code li {
  line-height: 26px;
}
ul.code code {
  margin-left: 6px;
  font-weight: normal;
  display: inline;
}
code {
  padding: 4px;
  display: inline-block;
}
.global-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: #599ad3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#599ad3), to(#4988bf));
  background-image: -webkit-linear-gradient(top, #599ad3, #4988bf);
  background-image: -moz-linear-gradient(top, #599ad3, #4988bf);
  background-image: -ms-linear-gradient(top, #599ad3, #4988bf);
  background-image: -o-linear-gradient(top, #599ad3, #4988bf);
  background-image: linear-gradient(top, #599ad3, #4988bf);
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.global-nav h1 {
  color: white;
}
.wrapper {
  position: relative;
  width: 1000px;
  padding-top: 70px;
  margin: 0 auto;
}
.api-nav {
  position: fixed;
  top: 85px;
  left: 50%;
  width: 10%;
  padding: 15px 0;
  margin-left: -500px;
  /* 1000px * 0.5 (move to variables) */
  display: inline-block;
}
.api-nav a {
  padding: 8px 0 8px 10px;
  border-left: 2px solid white;
  text-decoration: none;
  display: block;
  color: inherit;
  font-size: 110%;
  cursor: pointer;
}
.api-nav a.current {
  border-left-color: #90bfe8;
}
.api-nav a:hover {
  text-decoration: underline;
  border-left-color: #599ad3;
}
.main-content {
  width: 75%;
  padding: 15px 0 120px 3%;
  margin-left: 25%;
  border-left: 1px solid gainsboro;
  display: inline-block;
  z-index: 1;
}
input,
select,
textarea {
  min-width: 140px;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  display: inline-block;
}
input.long {
  width: 320px;
}
textarea {
  width: 100%;
  min-height: 120px;
}
textarea.large {
  min-height: 260px;
}
label {
  font-weight: bold;
}
fieldset {
  display: block;
  margin-bottom: 6px;
}
fieldset label,
fieldset input {
  vertical-align: middle;
}
fieldset label {
  width: 100px;
  margin: -3px 10px 0 0;
  text-align: right;
  display: inline-block;
}
.btn {
  min-width: 54px;
  padding: 8px 20px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.btn.btn-go {
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  margin: 0;
  color: white;
}
.btn.btn-go:hover {
  background-color: #357ae8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
  background-image: linear-gradient(top, #4d90fe, #357ae8);
  border-color: #2f5bb7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.btn.btn-go:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
form .buttons {
  margin: 20px 0 20px 114px;
  display: block;
}
form .buttons .start-again {
  margin: 8px 10px 0 10px;
  display: inline-block;
}
article {
  margin-bottom: 40px;
}
.radio-buttons {
    border: 1px dashed #CCC;
    padding: 10px;
    display: inline-block;
    margin: 0 0 30px 0;
}

.title {
    margin-bottom: 10px;
    font-weight: bold;
}

.btn--radio:last-child {
    margin-right: 0;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.btn--radio {
    background-color: rgba(223, 223 ,210, 0.4);
    border: 1px solid #DDD;
    color: #666;
}

.btn--radio:hover {
    background-color: rgba(223, 223 ,210, 0.7);
    color: #545454;
}

input[type="radio"]:checked + .btn--radio {
    background-color: rgba(220, 247, 221, 1);
    border-color: #DCF7DD;
    font-weight: bold;
    color: #111;
}

