<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DomainUrl" value="https://www.toptable.co.uk/api/" />
    <add key="RestaurantId" value="18438" />
    <add key="PartySize" value="2" />
    <add key="PartnerId" value="" />
    <add key="ConsumerKey" value="" />
    <add key="ConsumerSecret" value="" />
    <add key="webPages:Enabled" value="false" />
  </appSettings>
</configuration>