<a href="/login">Login</a>
<a href="/myreservations">My Reservations</a>
<a href="/reservationstatus">Reservation Status</a>
<a href="/getfavorites">Get Favorites</a>
<a href="/addfavorite">Add Favorite</a>
<a href="/removefavorite">Remove Favorite</a>
<a href="/register">Register</a>
<a href="/offerdetails">Offer details</a>
<a href="/restaurant">Restaurant</a>
<a href="/searchrestaurantids">Search restaurant IDs</a>
<a href="/searchregions">Search regions</a>
<a href="/localrestaurantsbyname">Local restaurants by name</a>
<a href="/table">Table</a>
<a href="/geosearch">Geo search</a>
<a href="/slotlock">Slot lock</a>
<a href="/make">Make</a>
<a href="/change">Change</a>
<a href="/cancel">Cancel</a>