@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<ul class="code">
    <li>PID <code>@Model.PartnerId</code></li>
    <li>Key <code>@Model.ConsumerKey</code></li>
    <li>Secret <code>@Model.ConsumerSecret</code></li>
</ul>